@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
}


body{
    background: linear-gradient(to right, white 0%, white 80%,#00704a 80%, #00704a 100%);
}

.container{display: flex;}

nav{
    justify-content: space-around;
    padding-top: 1%;
    width: 80%;
}


.logos{
    width: 9%;
}

ul{
    width: 70%;
    list-style: none;
    justify-content: space-around;
}

a{
    text-decoration: none;
    position: relative;
    top: calc(50% - .6em);
    text-align: justify;
    color: #3a2618;
}

a:hover{
    color:#00704a;
    transition: 1s;
}

h1{
    width:auto;
    font-size:35px;
    position: absolute;
    top: 15%;
    left: calc(40% - 130px);
}
h2{
    text-align: center;
    color:#3a2618;
}

section{
    display: inline-block;
    padding: 5em;
    width: 50%;
}

.cafe{
    width: 24%;
    position: absolute;
    right: 10%;
    top: 28%;
}

/*=================== MEDIA QUERY =====================*/
@media screen and (max-width:1366px){
    *{
        font-size: 16px;
    }
    a{
        font-size: .9em;
        margin: .5em;
    }
}

@media screen and (max-width: 425px), screen and (max-width: 768px){
    body{
        background: #fff;
    }
    nav{
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        width: auto;
    }

    .logos{
        width: 50%;
        position: relative;
        left: 25%;
    }

    ul{
        width: auto;
        flex-direction: column;
        align-items: center;
        margin: 8%;
    }
    li{
        margin: 5%;
    }

    main{
        position: fixed;
        visibility: hidden;
    }

}

#pie { 
 		clear: both;
 		text-align: center; 
 		padding: 20px; 
 		border-top: 6px solid rgb(0, 0, 0);
 	}

table {
    position: relative;
    top: 100px;
		/* Para centrar usamos "auto" en la alineación horizontal */
    margin: 0 auto;
		/*Lo siguiente es para los bordes*/
    border-collapse: collapse;
}


.form{
    background:#00704a;
    border-radius: 10px;
    color:#fff;
    width: 400px;
    padding: 1em 0;
    height: 330px;
    position: absolute;
    left: calc(40% - 200px);
    top: calc(60% - 200px);
}

.form__label{
    position: relative;
    left: 20px;
    
    
}

.form__input{
    position: relative;
    width: 80%;
    left: 10%;
    margin: .5em 0;
}

.btn{
    color: #fff;
    background:#3a2618;
    width: 80px;
    padding: .3em;
    border: none;
    border-radius:5px;
    position:absolute;
    left:calc(50% - 40px);
    bottom: 15px;
}




