@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================================== */

:root {
  --clr-primary: rgb(64, 128, 128);
  --clr-gray: #37474f;
  /* cambiar colorcito */
  --clr-gray-light: rgb(0, 0, 0);
}


.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  margin: 0.5rem;
}

.banner-img {
  position: absolute;
  background-image: url(https://fondosmil.com/fondo/17538.jpg);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(100px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
  cursor: pointer;
}

/* ======================================= */

body, input{
    font-family: 'Popins', sans-serif;
}

.titulo{
	width: 120px;
	cursor: pointer;
	text-decoration: none;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}


.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: black;
	position:absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

/* ================================ */

nav{
    text-align: left;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}


.logos{
    width: 16%;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../images/fondo.png);
    background-size: cover;
    background-position: center;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 150px;
    color: #fff;
}

.textos-header h2 {
    font-size: 25px;
    color: #fff;
}

h1{
    width:auto;
    font-size:4rem;
    position: absolute;
    top: 15%;
    left: calc(40% - 130px);
    color: cadetblue;
}

h1 p{
    width:auto;
    font-size:1rem;
    position: absolute;
    top: 15%;
    left: calc(40% - 130px);
    color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    color:#3a2618;
}

#T1{
	color:#fff;
}

section{
    display: inline-block;
    padding: 3rem 9%;
    width: 50%;
}



/*tabla CSS*/

/*
table {
    background-color: white;
    text-align: left;
    border: 40px;
    width: 50%;
	height: 100px;
}

*/

th,
td {
    padding: 10px;
}

/*
thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}
*/

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}

/*Sobre nosotros*/

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*=================== MEDIA QUERY =====================*/
@media screen and (max-width:1366px){
    *{
        font-size: 16px;
    }
    a{
        font-size: .9em;
        margin: .5em;
    }
}

@media screen and (max-width: 425px), screen and (max-width: 768px){
    body{
        background: #fff;
    }
    nav{
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        width: auto;
    }

    .logos{
        width: 50%;
        position: relative;
        left: 25%;
    }

    ul{
        width: auto;
        flex-direction: column;
        align-items: center;
        margin: 8%;
    }
    li{
        margin: 5%;
    }

    main{
        position: fixed;
        visibility: hidden;
    }

}

#pie { 
 		clear: both;
 		text-align: center; 
 		padding: 20px; 
 		border-top: 6px solid rgb(0, 0, 0);
 	}

/*
table {
    position: relative;
    top: 100px;
		/* Para centrar usamos "auto" en la alineación horizontal */
    /*margin: 0 auto;*/
		/*Lo siguiente es para los bordes*/
    /*border-collapse: collapse;
}
*/


.form{
    background:#00704a;
    border-radius: 10px;
    color:#fff;
    width: 400px;
    padding: 1em 0;
    height: 330px;
    position: absolute;
    left: calc(40% - 200px);
    top: calc(60% - 200px);
}

.form__label{
    position: relative;
    left: 20px;
    
    
}

.form__input{
    position: relative;
    width: 80%;
    left: 10%;
    margin: .5em 0;
}

/*
.btn{
    color: #fff;
    background:#3a2618;
    width: 80px;
    padding: .3em;
    border: none;
    border-radius:5px;
    position:absolute;
    left:calc(50% - 40px);
    bottom: 15px;
}
*/


/* ================================= */


.social-media{
    display: flex;
    justify-content: center;
}


.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border-radius: 50%;
}