<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>
	<header>
        <nav class="navbar">
            <p>
                <i class="fas fa-mug-hot"></i>
                STARBUCKS
            </p>
            <ul class="nav__list">
                <li><a th:href="@{/index}">INICIO</a></li>
                <li><a th:href="@{/producto/bebidas}">BEBIDAS</a></li>
                <li><a th:href="@{/producto/alimentos}">ALIMENTOS</a></li>
                <li><a href="#">PACKS Y BOXES</a></li>
                <li><a href="#">MERCH Y CAFÉ EN GRANO</a></li>
                <li><a th:href="@{/usuario/form}">INICIAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
	
	<section class="textos-header">
			<h1>Listados de Alimentos</h1>
		</section>
	
	<br>

	<span th:if="${alimentos.isEmpty()}">No existen bebidas</span>
	
	<table th:if="${!alimentos.isEmpty()}">
		<thead>
			<tr>
				<th>Bebida</th>
				<th>Precio</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alimentos: ${alimentos}">
				<td th:text="${alimentos.nombrep}"></td>
				<td th:text="${alimentos.preciop}"></td>
				<td th:text="${alimentos.cantidadp} ?: 'Cantidad indefinida'"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>