<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicie Sesión</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
	<header>
		<nav class="container">
			<img class="logos" th:src="@{/images/logo.png}" alt="logo">
				<a th:href="@{/index}">INICIO</a>
				<a th:href="@{/producto/bebidas}">BEBIDAS</a>
				<a th:href="@{/producto/alimentos}">ALIMENTOS</a>
				<a href="#">PACKS Y BOXES</a>
				<a href="#">MERCH Y CAFÉ EN GRANO</a>
				<a th:href="@{/usuario/form}">INICIAR SESIÓN</a>
		</nav>
	</header>
	
	
	<h1 id="T1">Inicio de sesión</h1>

	<form th:action="@{/usuario/form}" th:object="${usuario}" method="post" class="form">
		<h2 th:text="${titulo}" id="T2">adasdasdasd</h2>
		<div>
			<label class="form__label" for="username">Usuario:</label>
			<div>
				<input class="form__input" type="text" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label class="form__label" for="password">Clave:</label>
			<div>
				<input class="form__input" type="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		<div>
			<label class="form__label" for="email">Email:</label>
			<div>
				<input class="form__input" type="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<label class="form__label" for="pais.codigo">País:</label>
			<div>
				<select class="form__input" th:field="*{pais.codigo}">
					<option value="">-- Seleccione --</option>
					<option th:each="pais: ${objectPaises}" th:text="${pais.nombre}" th:value="${pais.codigo}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais.codigo')}" th:errors="*{pais.codigo}"></div>
		</div>
		<div>
			<input class="btn" type="submit" value="Enviar">
		</div>
	</form>
</body>
</html>
