<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script th:src="@{/js/listado.js}" type="module"></script>
</head>

<body>

	<header>
		<nav class="navbar">
			<p>
				<i class="fas fa-mug-hot"></i>
				STARBUCKS
			</p>
			<ul class="nav__list">
				<li><a th:href="@{/index}">INICIO</a></li>
				<li><a th:href="@{/producto/bebidas}">BEBIDAS</a></li>
				<li><a th:href="@{/producto/alimentos}">ALIMENTOS</a></li>
				<li><a href="#">PACKS Y BOXES</a></li>
				<li><a href="#">MERCH Y CAFÉ EN GRANO</a></li>
				<li><a th:href="@{/usuario/form}">INICIAR SESIÓN</a></li>
			</ul>
		</nav>
	</header>
	
	<h1>Nuestras bebidas</h1>
	<div class="wrapper-grid"></div>

	<template id="template">
		<div class="container">
			<div class='banner-img'></div>
			<img>
			<table>
				<tbody>
					<tr>
						<br><br>
						<td>Nombre: </td>
						<td class="nombreBe"></td>
					</tr>
					<br />
					<tr>
						<td>Precio:</td>
						<td class="precioBe"></td>
					</tr>
					<br />
					<tr>
						<td>Estado: </td>
						<td class="estadoBe"></td>
					</tr>
				</tbody>
			</table>
			<br>
			<button class='btn'>Comprar</button>
			<br>
		</div>
	</template>	
		
		
</body>

</html>