<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>¡Inicio Exitoso!</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
	<header>
		<nav class="container">
			<img class="logos" th:src="@{/images/logo.png}" alt="logo">
			<ul class="container">
				<li><a th:href="@{/index}">INICIO</a></li>
				<li><a th:href="@{/producto/bebidas}">BEBIDAS</a></li>
				<li><a th:href="@{/producto/alimentos}">ALIMENTOS</a></li>
				<li><a href="#">PACKS Y BOXES</a></li>
				<li><a href="#">MERCH Y CAFÉ EN GRANO</a></li>
				<li><a th:href="@{/usuario/form}">INICIAR SESIÓN</a></li>
			</ul>
		</nav>
	</header>
	<h2 th:text="${titulo}"></h2>
	<ul>
		<li th:text="${usuario.id}"></li>
		<li th:text="${usuario.username}"></li>
		<li th:text="${usuario.password}"></li>
		<li th:text="${usuario.email}"></li>
		<li th:text="${usuario.pais.codigo}"></li>
	</ul>
</body>
</html>
